---
---

<div class="row">
  <div class="col-sm-1 abbr">
    {% if entry.doi %}
      <a href="https://doi.org/{{ entry.doi }}"><i class="ai ai-doi"></i></a>
    {% endif %}
  {% if entry.arxiv %}
    <i class="ai ai-arxiv"></i>
  {% endif %}
  {% if entry.psyarxiv %}
    <i class="ai ai-psyarxiv"></i>
  {% endif %}
  {% if entry.pdf %}
    {% if entry.pdf contains '://' %}
    <a href="{{ entry.pdf }}"><i class="fas fa-file-pdf"></i></a>
    {% else %}
    <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}"><i class="fas fa-file-pdf"></i></a>
    {% endif %}
  {% endif %}
  {% if entry.osf %}
    <a href="{{ entry.osf }}"><i class="ai ai-osf"></i></a>
  {% endif %}
  {% if entry.figshare %}
    <a href="{{ entry.figshare }}"><i class="ai ai-figshare"></i></a>
  {% endif %}
  {% if entry.github %}
    <a href="{{ entry.github }}"><i class="fab fa-github"></i></a>
  {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-sm-10">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="author">
        {% if entry.award %}
           <a href="{{ entry.award }}"><i class="fas fa-award"></i></a>
        {% endif %}
        {% if entry.first_author %}
          <i style="font-size:0.75rem;padding-right:0.5rem" class="fas fa-times"></i>
        {% endif %}
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em>{{author.last}}, {{author.first}}</em>
            {% else %}
              {{author.last}}, {{author.first}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <em>{{author.last}}, {{author.first}}</em>,
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {{author.last}}, {{author.first}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <em>{{author.last}}, {{author.first}}</em>
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}" target="_blank">{{author.last}}, {{author.first}}</a>
                {% else %}
                  and {{author.last}}, {{author.first}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="title">{{entry.title}}</div>
      <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      </div>
    {% endif %}

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}
  </div>
</div>
