---
---
        {{reference}}

         {% if entry.award %}
        <!-- Hidden Award block -->
        <div class="award hidden d-print-inline">
            <p>{{ entry.award | markdownify }}</p>
        </div>
        {% endif %}

        {% if entry.abstract %}
        <!-- Hidden abstract block -->
        <div class="abstract hidden">
            <p>{{ entry.abstract }}</p>
        </div>
        {% endif %}

        {% if entry.bibtex_show %}
        <!-- Hidden bibtex block -->
        <div class="bibtex hidden">
            {% highlight bibtex %}
            {{- entry.bibtex | hideCustomBibtex -}}
            {% endhighlight %}
        </div>
        {% endif %}

        {% if entry.video and site.enable_video_embedding %}
        <!-- Hidden video block -->
        <div class="abstract hidden">
            <div style="text-align: center;">{% include video.liquid path=entry.video class="img-fluid rounded
                z-depth-1" controls=true %}</div>
        </div>
        {% endif %}
</div>